name: testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: docker-practice/actions-setup-docker@master
      - run: sudo docker run artrayme/jmantic:1.1 sh testing_script.sh